.sahe{
    position: relative;
    width: 600px;
    height: 600px;
}
.kutu{
    width:180px;
    height:180px;
    position: absolute;
}
.yasil{
    background-color: green;
    top:30px;
    left:40px;
    z-index: 1;
}
.mavi{
    background-color: blue;
    top:30px;
    right:150px;
    z-index: 1;
}
.sari{
    background-color: yellow;
    top: 120px;
    left:120px;
    z-index: 2;
}
.qirmizi{
    background-color: red;
    top:120px;
    right:40px;
    z-index: 2;
}